body {
    font-family: 'Arial', sans-serif;
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.datos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.imagen {
    display: flex;
    flex-direction: column;
}

#info {
    padding-top: 5%;
}

.img-style {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}
